[mysqld]
server-id=2
log_bin=mysql-bin
binlog_format=ROW
relay_log=relay-bin
read_only=ON

# 第一次先关闭
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_row_image=FULL
log_slave_updates=ON
super_read_only=ON
relay_log_purge=ON
